Pandas is a powerful and widely used open-source data manipulation and analysis library for Python. It provides easy-to-use data structures and functions needed to manipulate structured data seamlessly

This guide is created with purpose of<br>
1- Beginners get familiar with Pandas functions<br>
2- Quick review<br>
3- To be used as lookup to find basic and important functions all in one place. <br><br>

Note:- Salary datasets is being used form Kaggle. It can be found in Dataset folder of repo or if needed to download online. (https://www.kaggle.com/datasets/kaggle/sf-salaries)

Happy Coding :)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def printFunction(element : object,printString=""):
    print(printString,"\n",element,"\n")

### Series

In the context of the pandas library in Python, a Series refers to a one-dimensional labeled array.

In [ ]:
labels = ['a','b','c']
my_data = [10,20,30]
np_arr = np.array(my_data)
myDict = {0:my_data,1:labels}

printFunction(pd.Series(data=my_data,index=labels),"We define a Series and gives index, This can't be done in Numpy")
printFunction(pd.Series(data=np_arr,index=labels),"We define a Series through Numpy array, and gives Indexes")
printFunction(pd.Series(myDict),"We define a Series through Dictionary, keys become indexes automatically")
pd1 = pd.Series(myDict)
printFunction(pd1[0]," Access the element of Series by naming index")
printFunction(pd1[[0,1]]," Access Multiple element of Series by giving list of indexes")

### DataFrames

In the context of the pandas library in Python, DataFrame is a two-dimensional, tabular data structure. It is one of the most widely used data structures for data analysis and manipulation. The DataFrame is similar to a spreadsheet or a SQL table.

In [ ]:
indexes = ['a','b','c']
cols = ['x','y','z']
my_data = [[10,20,30],[40,50,60],[70,80,90]]
myDict = {"A":[1,2,np.nan],'B':[3,np.nan,np.nan],"C":[6,7,8]}
df = pd.DataFrame(data=my_data,index=indexes,columns=cols) #Creating dataframe from Lists
df2 = pd.DataFrame(data=myDict)  #Creating dataframe from Dictionary
salriesDf = pd.read_csv("DataSets/Salaries.csv")
#There are others functions as well to read data from like pd.read_excel(), read_parquet etc.

##### Starting Functions to get to know your dataset

In [ ]:
printFunction(salriesDf.shape,"Show Shape of Dataframe")
printFunction(salriesDf.head(),"Show first few rows of Dataframe")
printFunction(salriesDf.tail(),"Show last few rows of Dataframe")
printFunction(salriesDf.info(),"Show information about the Dataframe")
printFunction(salriesDf.describe(),"Show descriptive statistics of Dataframe")
printFunction(salriesDf.corr(),"Compute and show pairwise corelations of Dataframe")
printFunction(salriesDf.cov(),"Compute and show covariance matrix of Dataframe")
printFunction(df['x'].unique(),"Show unique values of a column in Dataframe")
printFunction(df['x'].nunique(),"Show number of unique values of a column in Dataframe")
printFunction(df['x'].value_counts(),"Show values and their occurence count of a column in Dataframe")

##### Accessing your Dataset Values

In [ ]:
printFunction(df,"Now as dataframe is multidimesnional, it is collection of series along with column names")
printFunction(df['x'],"You can access whole column by subscript method, but can't access row by subscript method")
printFunction(df.loc['a'],"You can access whole row by subscript method using loc and index name")
printFunction(df.loc[['a','b']],"You can access multiple whole rows by subscript method using loc and index names")
printFunction(df.iloc[0],"You can access whole row by subscript method using iloc and index number")
printFunction(df.iloc[[0,1]],"You can access multiple whole rows by subscript method using iloc and index numbers")
#The difference between loc and iloc is, loc require you to write names of index and column, iloc requires numbers
printFunction(df.loc['a','x'],"You can access a particular value of 2-d array using loc")
printFunction(df.loc[['a','b'],['x','y']],"You can access a subset of 2-d array using loc")
printFunction(df.iloc[0,0],"You can access a particular value of 2-d array using iloc")
printFunction(df.iloc[[0,1],[0,1]],"You can access a subset of 2-d array using iloc")

##### Adding/Dropping Columns/Rows in Dataset according to need

In [ ]:
df['newColumn']=df['x'] * df['y']  #Adding a column
printFunction(df,"After Adding a New column to DF by multiplying 2 other columns values")
df.drop(labels=['newColumn'],axis=1,inplace=True)#Dropping a column
printFunction(df,"After Dropping a column, and confirming we dont need dataframe, we need change in this dataframe through inplace")
printFunction(df.drop(labels=['a'],axis=0),"After Dropping a row with index value 'a'")

##### Handling of Missing Data - Imputation
Always remember there are different ways missing data can be filled (imputated), instead of dropping the column/row.<br>
Some are:- <br>
1- Constant <br>
2- Mode<br>
3- Median (I prefer it over Mean, as less suspectible to Outliers)<br>
4- Mean<br>
5- Forward Fill / Backward Fill (Use last or upcoming row value)<br>
6- Nearest Neighbour<br>
7- Linear Regression / Multi Linear Regression<br>
8- Deep Learning Methods

In [ ]:
#Remember NAN and None/Null are theoratically different things, but in pandas/numpy treated samely, so sane result come
printFunction(df2,"Dataframe we are working on")
printFunction(df2.isna(),"Return whole Dataframe of boolean, Check if Dataframe has NAN values")
printFunction(df2.isnull(),"Return whole Dataframe of boolean, Check if Dataframe has Null values")
printFunction(df2.notna(),"Return whole Dataframe of boolean, Check if Dataframe has na NAN values")
printFunction(df2['C'].notna(),"Return whole column of boolean, Check if Dataframe column has no NAN values")

printFunction(df2.dropna(),"Drop any row which has 1 or more nan value, It returns new dataframe, if you want to change this one use inplace=true")
printFunction(df2.dropna(axis=1),"Drop any Cols which has 1 or more nan value, It returns new dataframe, if you want to change this one use inplace=true")
printFunction(df2.dropna(axis=1,thresh=2),"Drop any Cols when total value is equal or more to threshold value")
printFunction(df2.dropna(axis=1,thresh=2),"Drop any Cols when total value is equal or more to threshold value")
printFunction(df2.fillna(value="Filler"),"Fill all the NAN/None values of dataframe with this value, It returns new dataframe, if you want to change this one use inplace=true")
printFunction(df2['A'].fillna(value=df2['A'].median()),"Fill NAN/None values of a particular column with the median of that column")
printFunction(df2['A'].fillna(value=df2['A'].median()),"Fill NAN/None values of a particular column with the median of that column")
printFunction(df2.isna(),"Fill NAN/None values of a particular column with the median of that column")

##### Filtering Dataset for Analytics

In [ ]:
printFunction(df[df>20],"This will return a complete True/False 2d arr, and where it is False will become Nan")
#But we dont want Nan we want to get only those values which pass the test of a particular Column/Row
printFunction(df[df['y']>20],"This will return whole subset of 2d arr, which satisfy your column condition")
printFunction(df[(df['y']>20) & (df['z']>60)],"This will return whole subset of 2d arr, which satisfy your columns multiple condition")
printFunction(df[(df['y']>20) | (df['z']>60)],"This will return whole subset of 2d arr, which satisfy your columns multiple condition")
printFunction(df[(df['y']>20) & (df['z']>60)][['x','y']],"This will return whole subset of 2d arr, which satisfy your columns multiple condition,\
                                                            and we are subscripting it again to get particular columns")

##### Setting and Resetting Index

In [ ]:
printFunction(df.reset_index(),"Reset your Indexes to integers, and make a column of old indexes")
printFunction(df.set_index('x'),"Set your Indexes to specified column, but will not make a new column of old indexes")

##### GroupBy in Pandas

In [ ]:
myDict = {"Company":["Google","Google","Microsoft","Microsoft","Facebook","Facebook","Google"],
          'Employee':["Farhan","Samar","Ashwin","Peter","Aasim","Derrick","Omer"],
          "Salary":[200,300,200,350,120,134,232],
         "Age":[24,38,31,28,31,33,40]}

employeeDf = pd.DataFrame(data=myDict)

In [ ]:
printFunction(salriesDf.groupby("JobTitle").count()["Id"],"Groupby Job Title to see how many people have same job title")
printFunction(salriesDf.groupby("JobTitle").mean()["TotalPay"],"Groupby Job Title to see mean pay of each job title")
printFunction(salriesDf.groupby("JobTitle")["TotalPay","Year"].min(),"Groupby Job Title to see min totalpay and Year of each job title")
printFunction(salriesDf.groupby("Year")["TotalPay"].sum(),"Groupby Job Year to see and TotalPay sum of each year")
printFunction(salriesDf.groupby("JobTitle")["TotalPay"].describe(),"Some statistics on TotalPay on basis of JobTitle")
printFunction(salriesDf.groupby("JobTitle")["TotalPay"].describe().loc["ACCOUNT CLERK"],"Some statistics on TotalPay of a prticular job title")

##### SQL JOIN / Merging and Concatenating Dataframes

In [ ]:
df1= pd.DataFrame(data=[[1,2,3],[4,5,6]],columns=["A","B","C"])
df2= pd.DataFrame(data=[[7,8,9],[10,11,12]],columns=["A","B","C"])
df3= pd.DataFrame(data=[[13,14,15],[16,17,18]],columns=["A","B","C"], index=[6,7])

leftDf= pd.DataFrame(data=[[1,2,'A0'],[4,5,'A1'],[3,6,'B1']],columns=["A","B","key"])
rightDf= pd.DataFrame(data=[[7,8,'A1'],[10,11,'A0']],columns=["A","B","key"])

In [ ]:
 printFunction(pd.concat([df1,df2]),"While concatenating by Adding along columns with default axis=0, \
 Notice How the index of both dataframes remain unchange in concatenated df")
printFunction(pd.concat([df1,df3]),"While concatenating by Adding along columns with default axis=0, \
 Notice How the index of both dataframes remain unchange in concatenated df")
printFunction(pd.concat([df1,df2],axis=1),"While concatenating by Adding along rows axis=1, \
 Notice How the index of both dataframes were same so they concantenated among indexes perfectly")
printFunction(pd.concat([df1,df3],axis=1),"While concatenating by Adding along rows axis=1, \
 Notice How the index of both dataframes were different so their concatenation yields NAN results")

In [ ]:
#Merge is Similar to SQL joins, so now you don't have to worry for Index matching or order of indexes. As it will join based on key
printFunction(pd.merge(leftDf,rightDf,how='inner',on='key'),"While merging like SQL join with inner join on column key")
printFunction(pd.merge(leftDf,rightDf,how='right',on='key'),"While merging like SQL join with inner join on column key")
#You can add multiple keys in on sections for joining as well.
printFunction(pd.merge(leftDf,rightDf,how='left',on=['key']),"While merging like SQL join with left join on column key")
printFunction(pd.merge(leftDf,rightDf,how='outer',on=['key']),"While merging like SQL join with outer join on column key")

##### Multi-Indexing Heirarchy in Dataframes

In [ ]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
df = pd.DataFrame(data=np.random.randn(6,2), index=hier_index, columns=['A','B'])
df

In [ ]:
printFunction(df.loc['G1'].loc[3],"Getting particular value from Multi-indexed Dataframe")